<div class="welcome">
{{#if _id}}
<h2>Welcome to your HabitBoard, {{ username }}!</h2>
{{else}}
<p>Still no logged in user, sorry!</p>
{{/if}}
</div>


<div class="new-habit-button">
<a class="create-button button" href="/profile/create-habit" id="cr-btn">create a new habbit</a>
</div>




<div class="habit-card-list">
{{#each habit}}

    <div class="habit-card">
        <div class="habit-card-info">
            <img src="/images/icons/{{category}}.svg" width="40" alt="">
            <h3 class="habit-title">{{title}}</h3>
        </div>

        <hr> {{!-- week progression --}}
        {{#if week1Tracker}}
        <p>week1</p>
            {{#each week1Tracker}}
                {{#if done}}
                    <input type="checkbox" name={{name}} class="input-checkbox" checked disabled/>
                {{else}}
                    <input type="checkbox" name={{name}} class="input-checkbox" />
                {{/if}}
            {{/each}}
        {{/if}}
        <br />

        {{#if week2Tracker}}
                <p>week2</p>

            {{#each week2Tracker}}
            
                {{#if done}}
                    <input type="checkbox" name={{name}} class="input-checkbox" checked />
                {{else}}
                    <input type="checkbox" name={{name}} class="input-checkbox" />
                {{/if}}
            {{/each}}
        {{/if}}
        <br />

        {{#if week3Tracker}}
                <p>week3</p>

            {{#each week3Tracker}}
                {{#if done}}
                    <input type="checkbox" name={{name}} class="input-checkbox" checked />
                    {{else}}
                    <input type="checkbox" name={{name}} class="input-checkbox" />
                {{/if}}
            {{/each}}
        {{/if}}

        <hr>
        <a class="" href="/profile/habit/{{_id}}">About</a>
    </div>    
{{/each}}


{{!-- 

// Model ✅
Tracked-week1: [{ name: "day-1", done: true } , {...}, {...}] week 1 = 1-7
Tracked-week2: [{ name: "day-8", done: false } , {...}, {...}] week 2 = 8-14
Tracked-week3: [{ name: "day-15", done: false } , {...}, {...}] week 3 = 15-21
 +
 Mexer na rota de criação ✅

 => "X days"
 duration.split(' ')[0] = 7, 14, 21 ❌
 => if 7
 week1Tracker = [{ name: "day1", done: false } , {...}, {....}] = 7 days ❌
 
// HBS ✅
Week 1:
{{#each week1Tracker}}
 {{#if done/checked = true/false}}
Week 2:

// update.route.js
req.body = {
    "day-1": true,
    day-1: true,
    day2: true,
    day3: true,
    day4: false,
    day5: true,
    day6: true,
    day7: false,
    day8: true,
    day9: true,
}
const updateFrequency = [] 

for (const day in req.body){
    const updater = {
 for (const day in req.body){
    updateFrequency.push(updater)
}
 --}}