<h1>This is a page for habit details</h1>
<hr>
<a class="button" href="/profile">go back</a>
<hr>
<h3>{{title}}</h3>
<h3>{{duration}}</h3>
<h3>{{description}}</h3>

<form action="/profile/{{_id}}/delete" method="POST">
    <button class="button delete-button">Delete</button>
</form>

<form action="/profile/{{_id}}/edit" method="GET">
    <button class="button" >Edit Details</button>
</form>