{{#if _id}}
<h2>Welcome, to your HabitBoard, {{ username }}!</h2>
{{else}}
<p>Still no logged in user, sorry!</p>
{{/if}}

<br>
<a class="create-button button" href="/profile/create-habit" id="cr-btn">create a new habbit</a>
<br>


<div class="habit-card-list">
    {{#each habit}}

    <div class="habit-card">
        <div class="habit-card-info">
            <img src="/images/icons/{{category}}.svg"  width="40"  alt="">
            <h3 class="habit-title">{{title}}</h3>
        </div>
        

        <hr> {{!-- week progression  --}}
    {{#if week1Tracker}}               
        {{#each week1Tracker}}
            {{#if checked}}
                <input type="checkbox" name={{name}} class="input-checkbox" checked />
            {{else}}
                <input type="checkbox" name={{name}} class="input-checkbox" />
            {{/if}}
        {{/each}}
    {{/if}}
    <br>
        {{#each week2Tracker}}
            {{#if checked}}
                <input type="checkbox" name={{name}} class="input-checkbox" checked />
            {{else}}
                <input type="checkbox" name={{name}} class="input-checkbox" />
            {{/if}}
        {{/each}}
    <br>
        {{#each week3Tracker}}
            {{#if checked}}
                <input type="checkbox" name={{name}} class="input-checkbox" checked />
            {{else}}
                <input type="checkbox" name={{name}} class="input-checkbox" />
            {{/if}}
        {{/each}}

        {{!-- <table>
            <tr class="table-row">
                <td class="cell">cell</td>
                <td class="cell">cell</td>
                <td class="cell">cell</td>
                <td class="cell">cell</td>
                <td class="cell">cell</td>
                <td class="cell">cell</td>
                <td class="cell">cell</td>
            </tr>
            <tr class="table-row">
                <td class="cell">cell</td>
                <td class="cell">cell</td>
                <td class="cell">cell</td>
                <td class="cell">cell</td>
                <td class="cell">cell</td>
                <td class="cell">cell</td>
                <td class="cell">cell</td>
            </tr>
            <tr class="table-row">
                <td class="cell">cell</td>
                <td class="cell">cell</td>
                <td class="cell">cell</td>
                <td class="cell">cell</td>
                <td class="cell">cell</td>
                <td class="cell">cell</td>
                <td class="cell">cell</td>
            </tr>
        </table> --}}

        {{!-- <div class="habit-card-progress">
            <div class="week" id="week1" >
                <label for="">Week 1</label>
                <input type="checkbox" name="day1" class="input-checkbox">
                <input type="checkbox" name="day2" class="input-checkbox">
                <input type="checkbox" name="" class="input-checkbox">
                <input type="checkbox" name="" class="input-checkbox">
                <input type="checkbox" name="" class="input-checkbox">
                <input type="checkbox" name="" class="input-checkbox">
                <input type="checkbox" name="" class="input-checkbox">
            </div>
            <div class="week" id="week2" style="display:none">
                <label for="">Week 2</label>
                <input type="checkbox" name="" id="">
                <input type="checkbox" name="" id="">
                <input type="checkbox" name="" id="">
                <input type="checkbox" name="" id="">
                <input type="checkbox" name="" id="">
                <input type="checkbox" name="" id="">
                <input type="checkbox" name="" id="">
            </div>
            <div class="week" id="week3" style="display:none">
                <label for=""> Week 3</label>
                <input type="checkbox" name="" id="">
                <input type="checkbox" name="" id="">
                <input type="checkbox" name="" id="">
                <input type="checkbox" name="" id="">
                <input type="checkbox" name="" id="">
                <input type="checkbox" name="" id="">
                <input type="checkbox" name="day21" id="">
            </div>
        </div> --}}

        <hr>

        <div>
            <h6 class="habit-description">Description:
                <p><span>{{description}}</span></p>
            </h6>
        </div>

        <a class="" href="/profile/habit/{{_id}}">About</a>

    </div>
    {{/each}}
</div>

<script type="text/javascript" src="/js/script.js"></script>

{{!-- 

// Model ✅
Tracked-week1: [{ name: "day-1", done: true } , {...}, {...}] week 1 = 1-7
Tracked-week2: [{ name: "day-8", done: false } , {...}, {...}] week 2 = 8-14
Tracked-week3: [{ name: "day-15", done: false } , {...}, {...}] week 3 = 15-21
 +
 Mexer na rota de criação ✅

 => "X days"
 duration.split(' ')[0] = 7, 14, 21 ❌
 => if 7
 week1Tracker = [{ name: "day1", done: false } , {...}, {....}] = 7 days ❌


// HBS ✅
Week 1:
{{#each week1Tracker}}
 {{#if done/checked = true/false}}
    <input type="checkbox" name={{name}} class="input-checkbox" checked />
 {{else}}
    <input type="checkbox" name={{name}} class="input-checkbox" />
 {{/if}}
{{/each}}
Week 2:
{{#each week2Tracker}}
 {{#if done}}
    <input type="checkbox" name={{name}} class="input-checkbox" checked />
 {{else}}
    <input type="checkbox" name={{name}} class="input-checkbox" />
 {{/if}}
{{/each}}


// update.route.js
req.body = {
    day-1: true,
    day2: true,
    day3: true,
    day4: false,
    day5: true,
    day6: true,
    day7: false,
}

const updateFrequency = [] 

for (const day in req.body){
    const updater = {
        name: req.body[day]
        done: day
    }
    updateFrequency.push(updater)
}

 --}}